<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Create Match </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>Playing Time</h1>

<ion-item-divider>Details</ion-item-divider>



<ion-content>
      <ion-item>
          <ion-label>Date</ion-label>
          <ion-datetime value="7-02-19" placeholder="Select Date"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Time</ion-label>
          <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
        </ion-item>
      
        <ion-item>
            <ion-label>Players</ion-label>
            <ion-select>
              <ion-select-option value="cat">5-12</ion-select-option>
              <ion-select>
                  <ion-select-option value="cat">6-10</ion-select-option>
               </ion-select>
           </ion-select>
        </ion-item>

<ion-item></ion-item>

<ion-item>
          <ion-label>
Description

<p>Is simply dummy text of the</p>
 <p>printing and typesetting industry.</p>
  <p>Lorem Ipsum has been the industry's standard dummy</p> 
  <p>text ever since the.</p>
 </ion-label>
</ion-item>


      <ion-button class="green"color="#0F9D37" size="large"  >CREATE A LINK </ion-button>

        
</ion-content>
