<ion-header>
  <ion-toolbar>
    <ion-title>
      ABOUT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>CONTACT</ion-title>
        <ion-buttons slot="primary">
       <ion-icon slot="icon-only" name="home"></ion-icon>

        </ion-buttons>


      </ion-toolbar>
      
      <ion-toolbar>
        <ion-buttons slot="secondary">
        </ion-buttons>
        <ion-title>OFFICES</ion-title>
        <ion-buttons slot="primary">
          <ion-button color="secondary">
            <ion-icon slot="icon-only" name="more"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      
      <ion-toolbar>
        <ion-buttons slot="primary">
          <!-- <ion-button (click)="clickedStar()"> -->
            <!-- <ion-icon slot="icon-only" name="star"></ion-icon>
          </ion-button> -->
        </ion-buttons>
        <ion-title>FEEDBACK </ion-title>
        <ion-buttons slot="end">
          <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
 
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In gravida risus a pharetra finibus. Sed sit amet ligula vel eros molestie dignissim. Nulla rhoncus facilisis hendrerit. Maecenas ullamcorper magna ut sem tincidunt vestibulum. In non ligula efficitur, ullamcorper ex ut, rhoncus ex. Maecenas sapien erat, elementum lacinia viverra ut, consequat sit amet orci. In tristique quis libero et tempus. Vestibulum pellentesque, est ut dignissim vestibulum, erat sapien tempor quam, sed feugiat neque arcu non diam. Duis vulputate ultrices massa id suscipit. Suspendisse eu accumsan libero. Quisque et dolor posuere, placerat ex quis, luctus nunc. Nam fermentum tellus felis, et convallis quam aliquet et. Donec gravida risus eget quam auctor, egestas feugiat leo pretium. Quisque tempus arcu at risus tempus, ut aliquam nunc eleifend.

    Maecenas est diam, sodales pretium orci vel, consequat ultrices libero. Donec dui neque, iaculis posuere feugiat quis, dignissim eu lorem. Suspendisse condimentum vitae felis in luctus. Etiam ac ipsum dignissim, accumsan erat sed, vestibulum lacus. Donec dapibus aliquet ante, a euismod justo elementum quis. Suspendisse sed diam eu felis vestibulum ultrices ac vel arcu. Suspendisse vulputate urna in rhoncus auctor. Maecenas volutpat elit id nisi porttitor elementum.
    
    Quisque vitae tempor nibh, sit amet pharetra augue. Vestibulum ut nunc ullamcorper lacus maximus luctus at vitae justo. Ut lobortis, urna id porta cursus, neque tellus viverra felis, sed accumsan dui eros et ipsum. Vestibulum vitae libero eget felis congue aliquam. In tristique ut nisl a luctus. Vestibulum convallis dignissim diam, et commodo augue. Maecenas ac gravida urna. Sed commodo massa ut tempus vulputate. Integer interdum, lorem at convallis lacinia, tortor lacus interdum est, id pharetra velit odio et eros.
    
    Cras erat metus, facilisis id nisi sed, pharetra scelerisque sapien. Maecenas tincidunt elit at justo gravida, ac gravida leo elementum. Nunc ullamcorper, orci eget accumsan eleifend, ex tellus aliquet diam, id ultricies risus erat a felis. Fusce gravida, ex sit amet consectetur pulvinar, ex neque cursus libero, vitae tempus nunc lorem ultrices dui. Sed placerat felis eu sem pulvinar, ac imperdiet purus ullamcorper. Phasellus posuere purus non tortor lobortis, in volutpat odio volutpat. Cras imperdiet ante eu porta laoreet. Nulla sit amet tellus justo. Curabitur a iaculis arcu, efficitur laoreet eros. Proin lorem metus, tempus sed est ut, lobortis malesuada orci. Nunc gravida diam at tortor porta porta.
    
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer rutrum nisl a mi scelerisque, eu blandit purus consectetur. Vestibulum rhoncus aliquam lacus, ut laoreet risus porta gravida. Morbi in sollicitudin elit. Phasellus ut porta lectus, ac feugiat eros. Pellentesque elementum gravida mi pharetra ultricies. Donec porta ante vestibulum, tempus lorem in, tempus odio.</p>
 

</ion-content>
