
  <!-- <div id="map"></div> -->

  <ion-content>
    <ion-searchbar color="#FFFFFF" class="search" animated></ion-searchbar>
 

    <div id="map_canvas" style="width: 100%; height: 60%;"></div>
    <div #map id="map"></div>  
  
     <ion-label>SUGGESTIONS</ion-label>
 

    <div class="Suggest">
  
      <ion-item routerLink="/park1">
          <ion-icon name="leaf" size="large" slot="end" color="success"></ion-icon>
        <h1>
          State Park
        </h1>
      </ion-item>
   

  <ion-item >
      <ion-icon name="information-circle" size="large" slot="end" color="secondary"></ion-icon>
    <h1>Capital Field</h1>
  </ion-item>

<ion-item >
    <ion-icon name="paw" size="large" slot="end" color="success"></ion-icon>
    <h1>Edwards park</h1>
  </ion-item>

<ion-item >
    <ion-icon name="walk" size="large" slot="end" color="success"></ion-icon>
    <h1>Ortega Park</h1>
  </ion-item>

</div>


</ion-content>

  