

<ion-content>

  <div id="map"></div>

  <ion-searchbar class="search" animated></ion-searchbar>
 

  <div id="map_canvas" style="width: 100%; height: 65%;"></div>

  
  <ion-content>
    
    <div #map id="map"></div>  
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8wilaTznFX29Fv93qtLMQA_QT9CRevD4&callback=initMap">
    </script>
    
    <div class="Suggest">
  
    <ion-item >
    <h1>state park</h1>
  </ion-item>

  <ion-item >
    <h1>Capital Field</h1>
  </ion-item>

<ion-item >
    <h1>Edwards park</h1>
  </ion-item>

<ion-item >
    <h1>Ortega Park</h1>
  </ion-item>
</div>


</ion-content>

  