<ion-header>
  <ion-toolbar>
    <ion-title>
      LINK UP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div>
<ion-list>

<header> <ion-list-header>CREATE YOUR TEAM <p class=""></p>
</ion-list-header>
      </header>
  
        <ion-item>
          <ion-label>Time To Meet</ion-label>
          <ion-select placeholder="Select One">
            <ion-select-option value="f">8-12</ion-select-option>
            <ion-select-option value="m">12-1</ion-select-option>
          </ion-select>
        </ion-item>
      
        <ion-item>
          <ion-label>LOCATION</ion-label>
          <ion-select value="brown" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="brown">State Park</ion-select-option>
            <ion-select-option value="blonde">Capital Field</ion-select-option>
            <ion-select-option value="black">Edwards park</ion-select-option>
            <ion-select-option value="red">Ortega Park</ion-select-option>
          </ion-select>
        </ion-item>
     
      
  
      
      
       
</ion-list>



    
  
  </div>

  <ion-button color="danger" expand="block"class="location">ping my location</ion-button>
  
  
  <ion-progress-bar type="indeterminate" reversed="false"  color="dark"></ion-progress-bar>
  

    </ion-content>
  