<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Matches</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-item>
      <ion-label>
        <div class="mycontainer">
          <div>
              <h1> Wendel's Soccer match </h1>
              <p>9:00 am - 11:00pm</p>
              <p>3/6 players</p>
          </div>
          <div class="right">
              <ion-button class="butt" color="success">Join</ion-button>
          </div>
        </div>
      </ion-label>
    </ion-item>
  </div>

  <div>
      <ion-item>
        <ion-label>
          <div class="mycontainer">
            <div>
                <h1> Jacob's Soccer match </h1>
                <p>9:00 am - 11:00pm</p>
                <p>4/8 players</p>
            </div>
            <div class="right">
                <ion-button class="butt" color="success">Join</ion-button>
            </div>
          </div>
        </ion-label>
      </ion-item>
    </div>


    <div>
        <ion-item>
          <ion-label>
            <div class="mycontainer">
              <div>
                  <h1> Houng's Soccer match </h1>
                  <p>10:00 am - 1:00pm</p>
                  <p>4/6 players</p>
              </div>
              <div class="right">
                  <ion-button class="butt" color="success">Join</ion-button>
              </div>
            </div>
          </ion-label>
        </ion-item>
      </div>
    
      <div>
          <ion-item>
            <ion-label>
              <div class="mycontainer">
                <div>
                    <h1>  Oscar's Soccer match </h1>
                    <p>9:00 am - 11:00pm</p>
                    <p>5/10 players</p>
                </div>
                <div class="right">
                    <ion-button class="butt" color="success">Join</ion-button>
                </div>
              </div>
            </ion-label>
          </ion-item>
        </div>
        <div>
            <ion-item>
              <ion-label>
                <div class="mycontainer">
                  <div>
                      <h1> Manuel's Soccer match </h1>
                      <p>9:00 am - 11:00pm</p>
                      <p>3/6 players</p>
                  </div>
                  <div class="right">
                      <ion-button class="butt" color="success">Join</ion-button>
                  </div>
                </div>
              </ion-label>
            </ion-item>
          </div>
        
          <div>
              <ion-item>
                <ion-label>
                  <div class="mycontainer">
                    <div>
                        <h1> Jacob's Soccer match </h1>
                        <p>9:00 am - 11:00pm</p>
                        <p>4/8 players</p>
                    </div>
                    <div class="right">
                        <ion-button class="butt" color="success">Join</ion-button>
                    </div>
                  </div>
                </ion-label>
              </ion-item>
            </div>
        
        
            <div>
                <ion-item>
                  <ion-label>
                    <div class="mycontainer">
                      <div>
                          <h1> Lester's Soccer match </h1>
                          <p>10:00 am - 1:00pm</p>
                          <p>4/6 players</p>
                      </div>
                      <div class="right">
                          <ion-button class="butt" color="success">Join</ion-button>
                      </div>
                    </div>
                  </ion-label>
                </ion-item>
              </div>
            
              <div>
                  <ion-item>
                    <ion-label>
                      <div class="mycontainer">
                        <div>
                            <h1>  Robertos Soccer match </h1>
                            <p>9:00 am - 11:00pm</p>
                            <p>5/10 players</p>
                        </div>
                        <div class="right">
                            <ion-button class="butt" color="success">Join</ion-button>
                        </div>
                      </div>
                    </ion-label>
                  </ion-item>
                </div>
              
          
  
</ion-content>