ion-title {
    //display: inline;
    padding-left: 20px

}
.exit {
    text-align: left;

  
}

.ios ion-badge {
    text-transform: uppercase;
  }
  .butt{
    color: azure;
  }

.item{
  border-style: solid;
  border-width: 0.2px;

}

#address{
  color: #12C850;
  text-align: left;
}

.text{
  padding: 15px;
}