<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card class="item">
      <ion-item>
        <ion-label>
          <h1>Westpark Valley Village</h1>
          <p>Park Open to public</p>
        </ion-label>
      </ion-item>

      <ion-label>
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide>
            <h1>
              <p><img src="assets/soccer_field-2.jpg"></p>
            </h1>
          </ion-slide>
          <ion-slide>
            <h1><img src="assets/field2.jpeg"></h1>
          </ion-slide>
          <ion-slide>
            <h1> <img src="assets/Tom_Thompson_Field_71.jpg"> </h1>
          </ion-slide>
        </ion-slides>
      </ion-label>
      <div class="text">
        <h1 id="address">Address</h1>
        <p>100 N Toluca St, Los Angeles,CA 90026 United States</p>

        <h1 id="address">Hours</h1>
        <p>Mon/Fri 11 AM to 7 PM
          <br>
          Sat/Sun 8 AM to 7 PM
        </p>
        <h1 id="address">Description</h1>
          <p> This place contains around 40 parking lots, contains more than 4 fields to play with a group of 6 or 8 per
            team, it is only closed on holidays.</p>
      </div>
    </ion-card>

    <div class="butt">
      <ion-button routerLink="/matches" expand="full" size="default">Matches</ion-button>
    </div>
    <ion-button routerLink="/link" color="dark" size="round" expand="block" class="location">CREATE A LINK </ion-button>
  </div>

</ion-content>